body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 400%;
}

.score-block {
    text-align: center;
    text-transform: uppercase;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-block .score-column {
    border: 1px solid black;
    display: inline-block;
    width: 40%;
}

.score-block .score-column button,
.score-block .score-column p {
    text-align: center;
    font: inherit;
    width: 40%;
    text-align: center;
}

.score-value-element {
    display: block;
    margin: auto;
    width: 100%;
}